html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: book;
    src: url(./GoudyBookletter1911-Regular.ttf)
}

body {
    padding-left: 75px;
    padding-right: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 35px;
    background-color: #d3a096;
}

.left, .right {
    height: 90%;
    border-radius: 15px;    
    padding: 25px;
}

.right {
    border: 5px solid #e4c3bd;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: repeat(3, 1fr);
    gap: 20px;
    width: 65%;
    min-width: 650px;
    background-color: aliceblue;
    overflow: scroll;
}

.left {
    width: 40%;
    min-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: antiquewhite;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid 1px purple;
    border-radius: 15px;
    width: 100%;
    height: 15%;
    font-family: book, Georgia, 'Times New Roman', Times, serif;
    font-size: 3.7rem;    
    background-color: bisque;    
    overflow: hidden;
}

.description {
    border: solid 1px green;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8px;
    border-radius: 15px;
    align-items: center;
    font-size: 1.3rem;    
    font-family: book, Georgia, 'Times New Roman', Times, serif;
    overflow-wrap: break-word;
    gap: 5px;    
    overflow: hidden;
}

button {
    height: 45px;
    width: 160px;
    font-size: medium;
    background-color: darkkhaki;
    box-shadow: 5px 5px 20px rgb(112, 111, 111);
}

button:hover {
    background-color: rgb(233, 226, 130);
    box-shadow: none;
}

button:active {
    background-color: rgb(255, 247, 141);
}

.form-container {
    border: solid 1px rgb(255, 145, 0);
    width: 100%;
    height: 55%;
    background-color: burlywood;
    border-radius: 15px;    
    overflow: hidden;
    display: none;
}

.form-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 55px;
    padding-bottom: 15px;
    padding-left: 25px;    
    overflow: hidden;
}

label {
    font-size: 1.8rem;    
    font-family: book, Georgia, 'Times New Roman', Times, serif;
}

input {
    height: 25px;
    width: 50%;
    border-radius: 15px;
    font-size: 1.3rem;    
    font-family: book, Georgia, 'Times New Roman', Times, serif;
    padding-left: 10px;
}

.submit {
    width: 200%;
    height: 65%;
    background-color: moccasin;
    box-shadow: 5px 5px 10px rgb(131, 131, 131);
}

.submit:hover {
    background-color: rgba(255, 228, 181, 0.548);
}

.submit:active {
    background-color: moccasin;
    box-shadow: inset 5px 5px 10px rgb(131, 131, 131);
}

#read{
    display: flex;
    justify-content: flex-start;
    height: 45px;
}

.first-line, .second-line, .third-line, .forth-line {
    display: flex;
    flex-direction: row;
    width: 95%;
    overflow-wrap:break-word;
    overflow: hidden;
}

.first-line, .second-line, .third-line {
    gap: 15px
}

.title, .author, .pages, .read-check {
    width: 200px;
}

.book-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: large;    
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(229, 240, 204);
    border-radius: 15px;
    box-shadow: 5px 3px 10px rgb(146, 146, 146);
    padding-left: 10px;
    padding-right: 10px;
}

.book-card:hover {
    background-color: rgb(243, 255, 215);
}

.title-card {
    font-family: book, Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
    overflow-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}